{% extends "base.html.j2" %}
{% from "components.html.j2" import header, metric_card, detail_section, container_section %}
{% block content %}
{{ header(document.header) }}
<div class="metric-grid">
  {% for card in document.metric_cards %}{{ metric_card(card) }}{% endfor %}
</div>
<div class="detail-sections">
  {% for section in document.sections %}{{ detail_section(section) }}{% endfor %}
  {% if document.containers %}
  {{ container_section(document.containers, document.container_title) }}
  {% endif %}
</div>
{% endblock %}
